# Programming for Data Analysis Project 2019

## Problem Statement

Create a data set by simulating a real-word phenomenon. Rather than collect data associated with the choosen real-world phenomenon the data should be modeled and synthesise the data using Python **numpy.randon** package

References
https://towardsdatascience.com/learning-to-simulate-c53d8b393a56

## Real world phenomenon simulated

The real-world pheomenon choose to simulate is a call centre. The call centre will have the following variables

1. period_week
2. callsinbound
3. agents
4. callqueues

In [1]:
#A number is Python packages are imported

import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#Variable 1 is a timeseries variable 

timep = pd.timedelta_range('09:00:00', periods=9, freq="H")

# Reference: 
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html
#https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html

In [3]:
dates = pd.date_range('2019-12-01', periods=10, freq='B')

In [4]:
dates[0]

Timestamp('2019-12-02 00:00:00', freq='B')

In [5]:
period_week =  pd.date_range('2019-12-01', periods=168, freq='H')

In [6]:
period_week

DatetimeIndex(['2019-12-01 00:00:00', '2019-12-01 01:00:00',
               '2019-12-01 02:00:00', '2019-12-01 03:00:00',
               '2019-12-01 04:00:00', '2019-12-01 05:00:00',
               '2019-12-01 06:00:00', '2019-12-01 07:00:00',
               '2019-12-01 08:00:00', '2019-12-01 09:00:00',
               ...
               '2019-12-07 14:00:00', '2019-12-07 15:00:00',
               '2019-12-07 16:00:00', '2019-12-07 17:00:00',
               '2019-12-07 18:00:00', '2019-12-07 19:00:00',
               '2019-12-07 20:00:00', '2019-12-07 21:00:00',
               '2019-12-07 22:00:00', '2019-12-07 23:00:00'],
              dtype='datetime64[ns]', length=168, freq='H')

In [207]:
#open = openhrs.between_time("9:00", "17:00")

In [30]:
period_week[0]

Timestamp('2019-12-01 00:00:00', freq='H')

In [141]:
ecas = pd.DataFrame(np.random.poisson(5, len(period_week)), index=period_week, columns=["callsinbound"])

In [142]:
ecas.head()

                     callsinbound
2019-12-01 00:00:00            11
2019-12-01 01:00:00            11
2019-12-01 02:00:00             2
2019-12-01 03:00:00             1
2019-12-01 04:00:00             5

In [59]:
ecas.iloc[2 : 10]

                     callsinbound
2019-12-01 02:00:00             5
2019-12-01 03:00:00             7
2019-12-01 04:00:00             3
2019-12-01 05:00:00             8
2019-12-01 06:00:00             5
2019-12-01 07:00:00             5
2019-12-01 08:00:00             6
2019-12-01 09:00:00             5

In [103]:
ecas.loc[:,'callsinbound']

2019-12-01 00:00:00     1
2019-12-01 01:00:00     7
2019-12-01 02:00:00     5
2019-12-01 03:00:00     7
2019-12-01 04:00:00     3
2019-12-01 05:00:00     8
2019-12-01 06:00:00     5
2019-12-01 07:00:00     5
2019-12-01 08:00:00     6
2019-12-01 09:00:00     5
2019-12-01 10:00:00    11
2019-12-01 11:00:00     2
2019-12-01 12:00:00     5
2019-12-01 13:00:00     4
2019-12-01 14:00:00     6
2019-12-01 15:00:00     0
2019-12-01 16:00:00     4
2019-12-01 17:00:00     2
2019-12-01 18:00:00     6
2019-12-01 19:00:00     5
2019-12-01 20:00:00     5
2019-12-01 21:00:00     7
2019-12-01 22:00:00     1
2019-12-01 23:00:00     7
2019-12-02 00:00:00     7
2019-12-02 01:00:00     3
2019-12-02 02:00:00     5
2019-12-02 03:00:00     4
2019-12-02 04:00:00     9
2019-12-02 05:00:00     4
                       ..
2019-12-06 18:00:00     6
2019-12-06 19:00:00     3
2019-12-06 20:00:00     4
2019-12-06 21:00:00     4
2019-12-06 22:00:00     7
2019-12-06 23:00:00     2
2019-12-07 00:00:00     6
2019-12-07 01:00:00     4
2019-12-07 02:00:00     6
2019-12-07 03:00:00     5
2019-12-07 04:00:00     4
2019-12-07 05:00:00     8
2019-12-07 06:00:00     8
2019-12-07 07:00:00     5
2019-12-07 08:00:00    11
2019-12-07 09:00:00     7
2019-12-07 10:00:00     5
2019-12-07 11:00:00     2
2019-12-07 12:00:00     8
2019-12-07 13:00:00     3
2019-12-07 14:00:00     6
2019-12-07 15:00:00     5
2019-12-07 16:00:00     4
2019-12-07 17:00:00     6
2019-12-07 18:00:00     4
2019-12-07 19:00:00     6
2019-12-07 20:00:00     5
2019-12-07 21:00:00     1
2019-12-07 22:00:00     3
2019-12-07 23:00:00     7
Freq: H, Name: callsinbound, Length: 168, dtype: int32

In [101]:
# DataFrame([data, index, columns, dtype, copy])
#ecas = pd.DataFrame(np.random.poisson(5, len(period_week)), index=period_week, columns=["callsinbound"])
#ecas2 = pd.DataFrame.add(ecas.loc[:,'callsinbound'],   index=period_week, columns=["agents"])

ecas = pd.DataFrame(np.random.poisson(5, len(period_week)), index=period_week, columns=["callsinbound"])

In [98]:
#working
#df = pd.DataFrame(np.random.randint(0,100, size=(168,4)), index=period_week, columns=list('ABCD'))

In [134]:
#Category = ["Police", "Fire", "Ambulance"]
#Category_Probability = np.random.choice(Category, 1, p=[0.15, 0.35, 0.50])
#Category_Probability

array(['Ambulance'], dtype='<U9')

In [121]:
#data = {'Batch':Batch,'Target':Targets,'Status':Statuscallsinbounds,'Location':Locations,'Responsible':Responsibles}

dataset = {'callsinbound':ecas}

In [135]:
#df = pd.DataFrame(dataset)

In [ ]:
aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'Christopher']
np.random.choice(aa_milne_arr, 5, p=[0.5, 0.1, 0.1, 0.3])

In [136]:
df = pd.DataFrame({'currency': ['SGD', 'USD', 'EUR'], 
                   'price': [100, 80, 75]})
to_usd = {'USD': 1.0, 'SGD': 1.37, 'EUR': 1.15}
df['new_price'] = df.price / df.currency.map(to_usd)
print(df)

  currency  price  new_price
0      SGD    100  72.992701
1      USD     80  80.000000
2      EUR     75  65.217391

In [181]:
category = ["Police", "Fire", "Ambulance"]
#ecas = pd.DataFrame(np.random.poisson(5, len(period_week)), index=period_week, columns=["callsinbound"])
ecas_police = pd.DataFrame(np.random.poisson(5, len(period_week)), index=period_week, columns=["police"])
categoryp = np.random.choice(category, 1, p=[0.15, 0.35, 0.50])
#ecas_new['category'] = ecas_new.callsinbound

In [182]:
ecas_police.head()

                     police
2019-12-01 00:00:00       6
2019-12-01 01:00:00       6
2019-12-01 02:00:00       5
2019-12-01 03:00:00       8
2019-12-01 04:00:00       7

In [179]:
ecas_fire = pd.DataFrame(np.random.poisson(7, len(period_week)), index=period_week, columns=["fire"])
ecas_fire.head()

                     fire
2019-12-01 00:00:00     5
2019-12-01 01:00:00    10
2019-12-01 02:00:00    10
2019-12-01 03:00:00     6
2019-12-01 04:00:00    11

In [184]:
 ecas_ambulance = pd.DataFrame(np.random.poisson(15, len(period_week)), index=period_week, columns=["ambulance"])
ecas_ambulance.head()

                     ambulance
2019-12-01 00:00:00         22
2019-12-01 01:00:00         13
2019-12-01 02:00:00         18
2019-12-01 03:00:00         14
2019-12-01 04:00:00         10

In [201]:
#df.join(other, lsuffix='_caller', rsuffix='_other')
ecaspolicefire = ecas_police.join(ecas_fire, lsuffix='police', rsuffix='fire')

ecaspolicefire.head()

                     police  fire
2019-12-01 00:00:00       6     5
2019-12-01 01:00:00       6    10
2019-12-01 02:00:00       5    10
2019-12-01 03:00:00       8     6
2019-12-01 04:00:00       7    11

In [202]:
ecas_ambulance['ambulance'].values

array([22, 13, 18, 14, 10, 11, 16, 17, 12, 15, 14, 14, 15, 16, 13, 10, 11,
       15, 17, 17, 20, 10, 13, 11, 14, 17, 15, 19, 13, 11, 17,  9,  9, 20,
       13, 17, 11, 15, 18, 11, 21, 15, 11, 10, 15, 16, 18, 16, 10, 11, 16,
       14, 10, 16, 14, 13, 18, 15, 13, 16, 20, 12, 12, 22, 12, 15, 10, 24,
       13, 13, 13,  9, 21, 17, 20, 11, 14, 22, 13, 14,  8, 15, 18, 20,  9,
       15, 12, 15,  8, 16, 18, 16, 19,  9, 14, 17, 12, 17, 19, 17, 15, 17,
       19, 12, 14, 15,  9, 10,  9, 15, 14, 17, 16, 17, 15, 17, 11, 14, 16,
       17, 14, 16, 13, 18, 15, 19, 15, 15, 15, 15, 14, 15, 14, 19, 15, 21,
       16, 11, 16, 15, 14, 18, 15, 17, 14, 13, 18, 10, 17, 12, 15,  8, 14,
       12, 15, 10, 19, 12, 20, 13, 19, 13, 24, 11,  9, 11,  9, 11])

In [206]:
ecaspolicefire['ambulance'] = ecas_ambulance['ambulance'].values
ecaspolicefire

                     police  fire  ambulance
2019-12-01 00:00:00       6     5         22
2019-12-01 01:00:00       6    10         13
2019-12-01 02:00:00       5    10         18
2019-12-01 03:00:00       8     6         14
2019-12-01 04:00:00       7    11         10
2019-12-01 05:00:00       9     7         11
2019-12-01 06:00:00       8     6         16
2019-12-01 07:00:00       4     3         17
2019-12-01 08:00:00       2     7         12
2019-12-01 09:00:00       7     6         15
2019-12-01 10:00:00       2     8         14
2019-12-01 11:00:00       6    10         14
2019-12-01 12:00:00       6    10         15
2019-12-01 13:00:00       6     3         16
2019-12-01 14:00:00       9     9         13
2019-12-01 15:00:00       4     5         10
2019-12-01 16:00:00       8     8         11
2019-12-01 17:00:00       4     9         15
2019-12-01 18:00:00       5     5         17
2019-12-01 19:00:00       4     9         17
2019-12-01 20:00:00       5     3         20
2019-12-01 21:00:00       4     8         10
2019-12-01 22:00:00       2     7         13
2019-12-01 23:00:00       5    10         11
2019-12-02 00:00:00       2     8         14
2019-12-02 01:00:00       6     7         17
2019-12-02 02:00:00       6     6         15
2019-12-02 03:00:00       8     6         19
2019-12-02 04:00:00       5     5         13
2019-12-02 05:00:00       5     6         11
...                     ...   ...        ...
2019-12-06 18:00:00       4     3         16
2019-12-06 19:00:00       4     6         15
2019-12-06 20:00:00       2     6         14
2019-12-06 21:00:00       9     8         18
2019-12-06 22:00:00       2     8         15
2019-12-06 23:00:00       7     9         17
2019-12-07 00:00:00       3    11         14
2019-12-07 01:00:00       6     7         13
2019-12-07 02:00:00       8     7         18
2019-12-07 03:00:00       3     7         10
2019-12-07 04:00:00       7     4         17
2019-12-07 05:00:00       7     3         12
2019-12-07 06:00:00       2     6         15
2019-12-07 07:00:00       3     4          8
2019-12-07 08:00:00       5    11         14
2019-12-07 09:00:00       2     9         12
2019-12-07 10:00:00       3    10         15
2019-12-07 11:00:00       6     9         10
2019-12-07 12:00:00       4    12         19
2019-12-07 13:00:00       6     6         12
2019-12-07 14:00:00       6     6         20
2019-12-07 15:00:00       6     8         13
2019-12-07 16:00:00       4     6         19
2019-12-07 17:00:00       4     9         13
2019-12-07 18:00:00       3     5         24
2019-12-07 19:00:00       5     9         11
2019-12-07 20:00:00       6     7          9
2019-12-07 21:00:00       1     8         11
2019-12-07 22:00:00       0     6          9
2019-12-07 23:00:00       4     5         11

[168 rows x 3 columns]