# Programming for Data Analysis Project 2019

## Problem Statement

Create a data set by simulating a real-word phenomenon. Rather than collect data associated with the choosen real-world phenomenon the data should be modeled and synthesise the data using Python **numpy.randon** package

References
https://towardsdatascience.com/learning-to-simulate-c53d8b393a56

## Real world phenomenon simulated

The real-world pheomenon choose to simulate is an emergency call answering service or ecas. The call centre will have the following variables and is open 24 hours 7 days a week and 365 days of the year

1. period_week
2. police
3. fire
4. ambulance
5. total_calls

To simulate the call centre we are going to use the Poisson Distribution. This distrbution is used to model 

References: 
https://en.wikipedia.org/wiki/Poisson_distribution

In [1]:
#The following Python packages are imported
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# The period of a week is choosen starting from the 1st December 2019, the week is divided up in to hourly periods.
period_week =  pd.date_range('01-01-2018', '31-12-2018', freq='H')

#Reference: 
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html
#https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html

In [3]:
#period_week datetime index is printed out
period_week

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-12-30 15:00:00', '2018-12-30 16:00:00',
               '2018-12-30 17:00:00', '2018-12-30 18:00:00',
               '2018-12-30 19:00:00', '2018-12-30 20:00:00',
               '2018-12-30 21:00:00', '2018-12-30 22:00:00',
               '2018-12-30 23:00:00', '2018-12-31 00:00:00'],
              dtype='datetime64[ns]', length=8737, freq='H')

In [4]:
#Define a random integer for the Poisson distrubution lamda value for calls for a police emergency.
police_randomint = np.random.randint(10,22)
police_randomint

#Reference: https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html

14

In [5]:
#Construct the ecas_police dataframe using Numpy random.poisson function in Python. The length of the dataframe is the amount
#time intervals in the time_period defined above. The index of the Dataframe is again the time_period time index variable.
# The resulting poisson distribution values are labelled "police"
ecas_police = pd.DataFrame(np.random.poisson(police_randomint, len(period_week)), index=period_week, columns=["police"])
ecas_police.head()

#Reference: 
#https://web.microsoftstream.com/video/db8801fe-9e42-4663-a508-5d6f38bb7327
#https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.poisson.html

                     police
2018-01-01 00:00:00       9
2018-01-01 01:00:00      13
2018-01-01 02:00:00      18
2018-01-01 03:00:00      16
2018-01-01 04:00:00      16

In [6]:
#Define a random integer for the Poisson distrubution lamda value for calls for a fire emergency call.
fire_randomint = np.random.randint(10,17)
fire_randomint

#Reference: https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html

11

In [7]:
#Construct the ecas_fire dataframe using Numpy random.poisson function in Python. The length of the dataframe is the amount
#time intervals in the time_period defined above. The index of the Dataframe is again the time_period time index variable.
# The resulting poisson distribution values are labelled "fire"
ecas_fire = pd.DataFrame(np.random.poisson(fire_randomint, len(period_week)), index=period_week, columns=["fire"])
ecas_fire.head()

#Reference: 
#https://web.microsoftstream.com/video/db8801fe-9e42-4663-a508-5d6f38bb7327
#https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.poisson.html

                     fire
2018-01-01 00:00:00     9
2018-01-01 01:00:00     7
2018-01-01 02:00:00     5
2018-01-01 03:00:00    11
2018-01-01 04:00:00     5

In [8]:
#Define a random integer for the Poisson distrubution lamda value for calls for a ambulance emergency call.
ambulance_randomint = np.random.randint(10,15)
ambulance_randomint

#Reference: https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html

11

In [9]:
#Construct the ecas_fire dataframe using Numpy random.poisson function in Python. The length of the dataframe is the amount
#time intervals in the time_period defined above. The index of the Dataframe is the time_period time index variable.
# The resulting poisson distribution values are labelled "ambulance"
ecas_ambulance = pd.DataFrame(np.random.poisson(ambulance_randomint, len(period_week)), index=period_week, columns=["ambulance"])
ecas_ambulance.head()

#Reference: 
#https://web.microsoftstream.com/video/db8801fe-9e42-4663-a508-5d6f38bb7327
#https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.poisson.html

                     ambulance
2018-01-01 00:00:00         10
2018-01-01 01:00:00         13
2018-01-01 02:00:00         15
2018-01-01 03:00:00         12
2018-01-01 04:00:00         19

In [10]:
ecas = ecas_police
ecas.head()

                     police
2018-01-01 00:00:00       9
2018-01-01 01:00:00      13
2018-01-01 02:00:00      18
2018-01-01 03:00:00      16
2018-01-01 04:00:00      16

In [11]:
# Creating an array of values from the Dataframe ecas_fire
# Reference: https://stackoverflow.com/questions/46396257/adding-a-new-column-in-pandas-dataframe-from-another-dataframe-with-differing-in
ecas_fire['fire'].values

array([ 9,  7,  5, ..., 17,  9, 15])

In [12]:
ecas_ambulance['ambulance'].values

array([10, 13, 15, ...,  8,  8, 16])

In [13]:
# Adding the fire colums to the ecas Dataframe, the ecas columns will consist of police and fire
ecas['fire'] = ecas_fire['fire'].values
ecas.head()

                     police  fire
2018-01-01 00:00:00       9     9
2018-01-01 01:00:00      13     7
2018-01-01 02:00:00      18     5
2018-01-01 03:00:00      16    11
2018-01-01 04:00:00      16     5

In [14]:
# Creating an array of values from the Dataframe ecas_ambulance
# Reference: https://stackoverflow.com/questions/46396257/adding-a-new-column-in-pandas-dataframe-from-another-dataframe-with-differing-in
ecas['ambulance'] = ecas_ambulance['ambulance'].values
ecas.head()

                     police  fire  ambulance
2018-01-01 00:00:00       9     9         10
2018-01-01 01:00:00      13     7         13
2018-01-01 02:00:00      18     5         15
2018-01-01 03:00:00      16    11         12
2018-01-01 04:00:00      16     5         19

In [15]:
# Adding the ambulance columns to the ecas Dataframe, the ecas columns will consist of police, fire and ambulance
ecas['ambulance'] = ecas_ambulance['ambulance'].values
ecas.head()

                     police  fire  ambulance
2018-01-01 00:00:00       9     9         10
2018-01-01 01:00:00      13     7         13
2018-01-01 02:00:00      18     5         15
2018-01-01 03:00:00      16    11         12
2018-01-01 04:00:00      16     5         19

In [16]:
# Sum columns police, fire, ambulance to give a new column total_calls
# Reference: https://stackoverflow.com/questions/34023918/make-new-column-in-panda-dataframe-by-adding-values-from-other-columns/34023971
ecas['total_calls'] = ecas['police'] + ecas['fire'] + ecas['ambulance']
ecas

                     police  fire  ambulance  total_calls
2018-01-01 00:00:00       9     9         10           28
2018-01-01 01:00:00      13     7         13           33
2018-01-01 02:00:00      18     5         15           38
2018-01-01 03:00:00      16    11         12           39
2018-01-01 04:00:00      16     5         19           40
2018-01-01 05:00:00      13    11          8           32
2018-01-01 06:00:00      13    10         12           35
2018-01-01 07:00:00      15    12          7           34
2018-01-01 08:00:00       9    13         13           35
2018-01-01 09:00:00      14    18         14           46
2018-01-01 10:00:00      10    11         16           37
2018-01-01 11:00:00      12     5         11           28
2018-01-01 12:00:00      16     7         14           37
2018-01-01 13:00:00      14    10          7           31
2018-01-01 14:00:00      14     8          8           30
2018-01-01 15:00:00       6     7         20           33
2018-01-01 16:00:00      11     8         10           29
2018-01-01 17:00:00      13    18         10           41
2018-01-01 18:00:00      17    10         10           37
2018-01-01 19:00:00      16    12          2           30
2018-01-01 20:00:00      15    15          6           36
2018-01-01 21:00:00      15    11         11           37
2018-01-01 22:00:00      17    12         11           40
2018-01-01 23:00:00      17     4         11           32
2018-01-02 00:00:00      15     8          7           30
2018-01-02 01:00:00      10    12         11           33
2018-01-02 02:00:00      10     7         12           29
2018-01-02 03:00:00      21    15         11           47
2018-01-02 04:00:00      14    15         13           42
2018-01-02 05:00:00      11    14         12           37
...                     ...   ...        ...          ...
2018-12-29 19:00:00      14    10          8           32
2018-12-29 20:00:00      14     9         11           34
2018-12-29 21:00:00      14    13          6           33
2018-12-29 22:00:00      12    10         11           33
2018-12-29 23:00:00      20     7          8           35
2018-12-30 00:00:00      18     8         12           38
2018-12-30 01:00:00      15    15         15           45
2018-12-30 02:00:00      12    15          5           32
2018-12-30 03:00:00      10     6          8           24
2018-12-30 04:00:00      11     6         13           30
2018-12-30 05:00:00      15     6         12           33
2018-12-30 06:00:00      14    11         11           36
2018-12-30 07:00:00      17    10          6           33
2018-12-30 08:00:00      11     7         10           28
2018-12-30 09:00:00      11     7         11           29
2018-12-30 10:00:00      21    10         12           43
2018-12-30 11:00:00      11     8          6           25
2018-12-30 12:00:00      12     7          8           27
2018-12-30 13:00:00      12     6         14           32
2018-12-30 14:00:00      15    10         15           40
2018-12-30 15:00:00      15    13         17           45
2018-12-30 16:00:00      12     8         12           32
2018-12-30 17:00:00      13     7          6           26
2018-12-30 18:00:00      11    10         13           34
2018-12-30 19:00:00      13    14          7           34
2018-12-30 20:00:00       9    10         12           31
2018-12-30 21:00:00      10    16          7           33
2018-12-30 22:00:00      11    17          8           36
2018-12-30 23:00:00      14     9          8           31
2018-12-31 00:00:00      15    15         16           46

[8737 rows x 4 columns]

In [17]:
ecas['total_calls'].sum()

314099

In [18]:
ecas_jan = ecas.loc['2018-01-01':'2018-01-31']
ecas_jan

                     police  fire  ambulance  total_calls
2018-01-01 00:00:00       9     9         10           28
2018-01-01 01:00:00      13     7         13           33
2018-01-01 02:00:00      18     5         15           38
2018-01-01 03:00:00      16    11         12           39
2018-01-01 04:00:00      16     5         19           40
2018-01-01 05:00:00      13    11          8           32
2018-01-01 06:00:00      13    10         12           35
2018-01-01 07:00:00      15    12          7           34
2018-01-01 08:00:00       9    13         13           35
2018-01-01 09:00:00      14    18         14           46
2018-01-01 10:00:00      10    11         16           37
2018-01-01 11:00:00      12     5         11           28
2018-01-01 12:00:00      16     7         14           37
2018-01-01 13:00:00      14    10          7           31
2018-01-01 14:00:00      14     8          8           30
2018-01-01 15:00:00       6     7         20           33
2018-01-01 16:00:00      11     8         10           29
2018-01-01 17:00:00      13    18         10           41
2018-01-01 18:00:00      17    10         10           37
2018-01-01 19:00:00      16    12          2           30
2018-01-01 20:00:00      15    15          6           36
2018-01-01 21:00:00      15    11         11           37
2018-01-01 22:00:00      17    12         11           40
2018-01-01 23:00:00      17     4         11           32
2018-01-02 00:00:00      15     8          7           30
2018-01-02 01:00:00      10    12         11           33
2018-01-02 02:00:00      10     7         12           29
2018-01-02 03:00:00      21    15         11           47
2018-01-02 04:00:00      14    15         13           42
2018-01-02 05:00:00      11    14         12           37
...                     ...   ...        ...          ...
2018-01-30 18:00:00      14    11          6           31
2018-01-30 19:00:00      20    11         13           44
2018-01-30 20:00:00      16    11         12           39
2018-01-30 21:00:00      12    10          7           29
2018-01-30 22:00:00      22    11         11           44
2018-01-30 23:00:00       7    14         13           34
2018-01-31 00:00:00      14    19          6           39
2018-01-31 01:00:00      11     9          7           27
2018-01-31 02:00:00      14     9         10           33
2018-01-31 03:00:00      10    20         12           42
2018-01-31 04:00:00      15     7          5           27
2018-01-31 05:00:00      18    10         12           40
2018-01-31 06:00:00      15     8          4           27
2018-01-31 07:00:00       5    11         12           28
2018-01-31 08:00:00      17    11         10           38
2018-01-31 09:00:00      21    11          8           40
2018-01-31 10:00:00       9    10         13           32
2018-01-31 11:00:00       9    12         10           31
2018-01-31 12:00:00      10    12         11           33
2018-01-31 13:00:00      10    19         16           45
2018-01-31 14:00:00      12    10         12           34
2018-01-31 15:00:00      16    14         11           41
2018-01-31 16:00:00      17    11          8           36
2018-01-31 17:00:00       9     8         14           31
2018-01-31 18:00:00      14     7         12           33
2018-01-31 19:00:00      16    10         10           36
2018-01-31 20:00:00      10    12         14           36
2018-01-31 21:00:00      22    14          6           42
2018-01-31 22:00:00      23    11          9           43
2018-01-31 23:00:00      11    15          8           34

[744 rows x 4 columns]

In [19]:
ecas_jan['total_calls'].sum()

26824

In [20]:
ecas_jan

                     police  fire  ambulance  total_calls
2018-01-01 00:00:00       9     9         10           28
2018-01-01 01:00:00      13     7         13           33
2018-01-01 02:00:00      18     5         15           38
2018-01-01 03:00:00      16    11         12           39
2018-01-01 04:00:00      16     5         19           40
2018-01-01 05:00:00      13    11          8           32
2018-01-01 06:00:00      13    10         12           35
2018-01-01 07:00:00      15    12          7           34
2018-01-01 08:00:00       9    13         13           35
2018-01-01 09:00:00      14    18         14           46
2018-01-01 10:00:00      10    11         16           37
2018-01-01 11:00:00      12     5         11           28
2018-01-01 12:00:00      16     7         14           37
2018-01-01 13:00:00      14    10          7           31
2018-01-01 14:00:00      14     8          8           30
2018-01-01 15:00:00       6     7         20           33
2018-01-01 16:00:00      11     8         10           29
2018-01-01 17:00:00      13    18         10           41
2018-01-01 18:00:00      17    10         10           37
2018-01-01 19:00:00      16    12          2           30
2018-01-01 20:00:00      15    15          6           36
2018-01-01 21:00:00      15    11         11           37
2018-01-01 22:00:00      17    12         11           40
2018-01-01 23:00:00      17     4         11           32
2018-01-02 00:00:00      15     8          7           30
2018-01-02 01:00:00      10    12         11           33
2018-01-02 02:00:00      10     7         12           29
2018-01-02 03:00:00      21    15         11           47
2018-01-02 04:00:00      14    15         13           42
2018-01-02 05:00:00      11    14         12           37
...                     ...   ...        ...          ...
2018-01-30 18:00:00      14    11          6           31
2018-01-30 19:00:00      20    11         13           44
2018-01-30 20:00:00      16    11         12           39
2018-01-30 21:00:00      12    10          7           29
2018-01-30 22:00:00      22    11         11           44
2018-01-30 23:00:00       7    14         13           34
2018-01-31 00:00:00      14    19          6           39
2018-01-31 01:00:00      11     9          7           27
2018-01-31 02:00:00      14     9         10           33
2018-01-31 03:00:00      10    20         12           42
2018-01-31 04:00:00      15     7          5           27
2018-01-31 05:00:00      18    10         12           40
2018-01-31 06:00:00      15     8          4           27
2018-01-31 07:00:00       5    11         12           28
2018-01-31 08:00:00      17    11         10           38
2018-01-31 09:00:00      21    11          8           40
2018-01-31 10:00:00       9    10         13           32
2018-01-31 11:00:00       9    12         10           31
2018-01-31 12:00:00      10    12         11           33
2018-01-31 13:00:00      10    19         16           45
2018-01-31 14:00:00      12    10         12           34
2018-01-31 15:00:00      16    14         11           41
2018-01-31 16:00:00      17    11          8           36
2018-01-31 17:00:00       9     8         14           31
2018-01-31 18:00:00      14     7         12           33
2018-01-31 19:00:00      16    10         10           36
2018-01-31 20:00:00      10    12         14           36
2018-01-31 21:00:00      22    14          6           42
2018-01-31 22:00:00      23    11          9           43
2018-01-31 23:00:00      11    15          8           34

[744 rows x 4 columns]

In [21]:
ecas[ecas.index.month == 1]['total_calls'].sum()

26824

In [22]:
ecas[ecas.index == '2018-01-01 00:00:00']['total_calls'].values

array([28])

### Poisson Probability

The poisson probability of a call arriving in a particular interval can be calculated as follows:

In [23]:

from scipy.special import factorial

time_p = '2018-01-01 00:00:00'

calls_per_min = ecas[ecas.index == time_p]['total_calls'].values/60

minutes = 5

# Expected events
lam = calls_per_min[0] * minutes

k = 2
pk = np.exp(-lam) * np.power(lam, k) / factorial(k)
print(f'The probability of {k} calls in {minutes} minutes is {100*pk:.2f}% for the time period {time_p}')

#Reference: https://github.com/WillKoehrsen/Data-Analysis/blob/master/poisson/poisson.ipynb

The probability of 2 calls in 5 minutes is 26.40% for the time period 2018-01-01 00:00:00